body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(46, 46, 46);
  margin: 0;
  padding: 0;
  height: 100vh;
  color: rgb(197, 197, 197);
}

.container {
  place-items: center;
  height: 100%;
  width: 100%;
  display: grid;
  gap: 10px;
}

.cardd {
  position: absolute;
  background-color: #1d1d1d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 35px;
}

.b1 {
  width: 820px;
  height: 360px;
  top: 100px;
  left: 345px;
  display: flex;
}

.b1 .seperatorB1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.b1 img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.b2 {
  width: 400px;
  height: 543px;
  top: 100px;
  right: 345px;
}

.b3 {
  width: 273px;
  height: 330px;
  bottom: 145px;
  left: 345px;
}

.b4 {
  width: 250px;
  height: 75px;
  bottom: 400px;
  left: 630px;
}

.b5 {
  width: 250px;
  height: 75px;
  bottom: 310px;
  left: 630px;
}

.b6 {
  width: 250px;
  height: 150px;
  bottom: 145px;
  left: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.b6 .colorWhite {
  background-color: #fff;
}

.b6 .colorBlack {
  background-color: #000;
}

.b6 .colorRed {
  background-color: #ff0000;
}

.b6 .colorBlue {
  background-color: #0000ff;
}

.b6 .color {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  outline: 1px solid #000;
  cursor: pointer;
  margin: 0px 5px;
}

.b7 {
  width: 273px;
  height: 165px;
  bottom: 310px;
  right: 755px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 150px; 
}

.grid input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgb(219, 219, 219);
  background: none;
}

.grid input:nth-child(1),
.grid input:nth-child(2),
.grid input:nth-child(3) { border-top: none; }

.grid input:nth-child(1),
.grid input:nth-child(4),
.grid input:nth-child(7) { border-left: none; }

.grid input:nth-child(3),
.grid input:nth-child(6),
.grid input:nth-child(9) { border-right: none; }

.grid input:nth-child(7),
.grid input:nth-child(8),
.grid input:nth-child(9) { border-bottom: none; }

.b7 input {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px 0px 2px 0px solid #000;
}

.b8 {
  width: 273px;
  height: 150px;
  bottom: 145px;
  right: 755px;
}

.b9 {
  width: 400px;
  height: 150px;
  bottom: 145px;
  right: 345px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}




